<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="log.css" rel="stylesheet" type="text/css">
    
</head>
<body>
    <h1></h1>
    <aside id="contnav">
        <section  class="fila bg-black fg-white" id="menu">
        <div  class="celdas">Tribolium castaneum</div>
        <!-- contenedor menu --> 
        <div class="celdas " id="nav1" onClick="toggleBarnav('nav1','abierto')">
        <nav  class="barnav"> 
         <a  href="#" class="item" >Buscar</a>
         <a  href="#" class="item">Home</a>
         <a  href="#" class="item">Chat</a>
         <a  href="#" class="item">Notificaciones</a>
         <a  href="#" class="item">Perfil</a>
        
         
        </nav>
        </div>
        </section>
        </aside>
</body>
    
</html>