<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/perfil.css">
    <title>Tribolium castaneum perfil</title>

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="
  background-color: #382633!important;color: #fff !important;">
  <a class="navbar-brand" style="color: #fff !important;" href="#"></i>Tribolium Castaneum</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse"  id="navbarNavDropdown" style="
  justify-content: right;
">
    <ul class="navbar-nav " >
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="button" onclick="location.href='buscar'" >Search</button>
          </form>
      <li class="nav-item" >
        <a class="nav-link" style="color: #fff !important;" href="#" onclick="location.href='feed'" ><i class="fas fa-home fa-2x"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #fff !important;" href="#" onclick="location.href='chat'" ><i class="fas fa-comments fa-2x"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #fff !important;" href="#" onclick="location.href='notificaciones'" ><i class="fas fa-exclamation fa-2x"></i></i></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="color: #fff !important;" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-surprise fa-2x"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#" onclick="location.href='perfil'" >Ver perfil</a>
          <a class="dropdown-item" href="#" onclick="location.href='/'">Cerrar sesion</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

  <hr>

<div class="card mb-3" style="max-width: 540px;padding-top: 2em;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../static/imagenes/halo4.jpeg" class="image" alt="profile picture">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" style="padding-top: 1em;color: white;padding-left: 1em;"><b>@Usuario</b></h5>
          <h6 class="card-text" style="color: white; padding-left: 1em"><b>Nombre y Apellido</b> </p>
          <h6 class="card-text" style="color: white; padding-left: 1em"><b># Publicaciones y # Triboamigos</b></p>
            <button class="btn btn-outline-success my-2 my-sm-0" type="button" onclick="location.href='editar'" style="color: #fff; background-color: #382633; border: none;" >Editar datos</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding-left: 20px;padding-right: 20px;padding-top: 20px;">
    <div class="col-sm-4">
        <div class="card" style="width: 20rem;">
            <img src="../static/imagenes/WW.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Nombre de la imagen
              <a href="#" class="btn btn-primary" style="background-color: #382633;border: none;"><i class="fas fa-book" onclick="location.href='detalle'"></i></a>  
            </h5>
            
            </div>
        </div>  
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 20rem;">
            <img src="../static/imagenes/WW.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Nombre de la imagen
              <a href="#" class="btn btn-primary" style="background-color: #382633;border: none;"><i class="fas fa-book" onclick="location.href='detalle'"></i></a>
            </h5>
            
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 20rem;">
            <img src="../static/imagenes/WW.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Nombre de la imagen
              <a href="#" class="btn btn-primary" style="background-color: #382633;border: none;"><i class="fas fa-book" onclick="location.href='detalle'"></i></a>
            </h5>
            </div>
        </div>
    </div>
</div>



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" data-auto-replace-svg="nest"></script>

</body>
</html>