body{
    background-color: #297045;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

.btn btn-primary{
   background-color: #382633;
body{
    background-color: #297045;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

.btn btn-primary{
   background-color: #382633;
}